/* setting to border-box */
html {
  box-sizing: border-box;
}
.container {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto 0 auto;
}

.main {
  top:0;
  width: 90%;
  margin: 10px auto 10px auto;
}

.center {
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* set up floats */
.left {
  display: block;
  float: left;
}

/* set up divisions */
hr {
  display: block;
  width: 100%;
  margin: 10px auto 0px auto;
  padding: 0;
  border-style: inset;
  border: 1px solid rgba(0,0,0,0.9);
}

/* setting up grid */
.col {
  float: left;
  margin-top: 10px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.one,
.one-third,
.two-thirds {
  width: 100%;
  clear: both;
}

@media only screen and (min-width: 450px) {
  .one {
    width: 100%;
  }
  .one-third {
    width: 49%;
  }
  .two-thirds {
    width: 49%;
  }
}

@media only screen and (min-width: 800px) {
  .one {
    width: 100%;
  }
  .one-third {
    width: 32%;
  }
  .two-thirds {
    width: 66%;
  }
}

/* setting up rows */
.row::before,
.row::after {
  display: table;
  content: " ";
  clear: both;
}

/* set up the html element changes */
a {
  color: magenta;
  text-decoration: none;
}
a:visited {
  color: rgb(255, 0, 128);
}

a.no-color-change:visited {
  color: inherit;
}

/* set up the header */
.main-title {
  font-size: 3em;
  margin: 10px 0 10px 0;
  font-family: monospace;
  color: black;
  font-style: normal;
  text-decoration: none;
}

.nav-center {
  width: 80%;
}

.nav-side {
  width: 10%;
  align-self: flex-end;
}

/* set up the grid body */
.grid-item {
  text-align: center;
  border: 2px solid rgb(255, 0, 128);
  border-radius: 15px;
  height: 10em;
  position: relative;
  overflow: hidden;
}

.item-image {
  object-fit: fill;
  width: 100%;
  min-height: 100%;
  border-radius: 15px 15px 0px 0px;
  overflow: hidden;
  opacity: 0.25;
  background-color: rgba(255, 0, 128, 0.6);
}

.item-name {
  display: flex;
  justify-content: center;
  margin: 0px auto 10px auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 1em;
}

/* set up the page body */
.page-header {
  overflow: hidden;
  border-radius: 15px;
}

.page-title {
  font-size: 1.5em;
  margin: 0 0 10px 0;
}

.page-body {
  font-size: 1em;
  margin: 0 0 10px 0;
}

.centered {
  max-width: 50%;
  text-align: center;
  margin: 0 auto 0 auto;
}

.form-group {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.form-label {
}

.form-entry {
}
