{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class = 'flash'>
		 {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</div>

<section class='main flex'>
  {% if space_types %}
  <a href="{{url_for('allSpaces')}}" class='col one-third grid-item'>
		<img src="{{ url_for('static', filename='media/alltypes.jpg')}}" class='item-image'>
    <h4 class='item-name'>All</h4>
  </a>

  {% for space_type in space_types %}
  <a href="{{url_for('spaceTypeView', space_type = space_type.name)}}" class='col one-third grid-item'>
		<img src="{{ space_type.image_url }}" class='item-image'>
    <h4 class='item-name'>{{ space_type.name }}</h4>
  </a>
  {% endfor %}

  {% else %}
	<article class='col two-thirds grid-item'>
		<img src="{{ url_for('static', filename='media/emptyland.jpg')}}" class='item-image'>
  	<h4 class='item-name'>No space types are available.</h4>
	</article>
  {% endif %}

	{% if login_state == True %}
  <a href="{{url_for('createSpaceType')}}" class='col one-third grid-item'>
		<img src="{{ url_for('static', filename='media/createnew.jpg')}}" class='item-image'>
    <h2 class='item-name'>Create New</h2>
  </a>
	{% endif %}
</section>

{% endblock %}
