{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class = 'flash'>
		  {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
</div>

<form action="#" method = "POST" class='main'>
  <div class="form-group">
		<div class='left one flex'>
	    <label for="name" class='form-label one-third'>Type of Space:</label>
	    <input type ="text" maxlength="250" name="name" placeholder="{{ project.name }}"class='form-entry two-thirds'>
		</div>

		<div class='left one flex'>
			<label for="design_team" class='form-label one-third'>Design Team:</label>
    	<textarea  maxlength="1000" rows="3" name="design_team" placeholder="{{ project.design_team }}"class='form-entry two-thirds'></textarea>
		</div>

		<div class='left one flex'>
			<label for="year_built" class='form-label one-third'>Year Built:</label>
    	<textarea  maxlength="1000" rows="3" name="year_built" placeholder="{{ project.year_built }}"class='form-entry two-thirds'></textarea>
		</div>

		<div class='left one flex'>
			<label for="program" class='form-label one-third'>Program:</label>
    	<textarea  maxlength="1000" rows="3" name="program" placeholder="{{ project.program }}"class='form-entry two-thirds'></textarea>
		</div>

		<div class='left one flex'>
			<label for="image_url" class='form-label one-third'>Image URL:</label>
			<textarea  maxlength="500" rows="3" name="image_url" placeholder="{{ project.image_url }}"class='form-entry two-thirds'></textarea>
		</div>

		<div class='left one flex'>
      <label for="space_type" class='form-label one-third'>Space Type:</label>
      <select name="space_type"class='form-entry two-thirds'>
        {% for space in space_types %}
        <option value="{{ space.name }}" {% if space.name == project.space_type %}selected{% endif %}>{{ space.name }}</option>
        {% endfor %}
      </select>
    </div>

    <button id="submit" type="submit">
    <span></span>Edit</button>
  </div>
</form>

{% endblock %}
