{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div>
  <h2>{{ space.name }}</h2>

  {% if creator_state == True %}
  <div>
  	<a href="{{url_for('editSpaceProject', space_type = space.space_type, space_id = space.id)}}">
  		<p>Edit this project</p>
  	</a>
  	<a href="{{url_for('deleteSpaceProject', space_type = space.space_type, space_id = space.id)}}">
  		<p>Delete this project</p>
  	</a>
  {% endif %}
  </div>

	<div>
		<p>{{ space.design_team }}</p>
	<div>
	<div>
		<p>{{ space.year_built }}</p>
	<div>
	<div>
		<p>{{ space.program }}</p>
	<div>
	<div>
		<p>{{ space.space_type }}</p>
	<div>

</div>

{% endblock %}
