{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class = 'flash'>
		  {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
</div>

<div>
  {% if spaces %}
    {% for space in spaces %}
    <a href="{{url_for('spaceProjectView', space_type = space.space_type,
                        space_id = space.id)}}">
      <h4>{{ space.name }}</h4>
    </a>
    {% endfor %}
  {% else %}
    <h4>No spaces are currentlyavailable. Create one below.</h4>
  {% endif %}
  <a href="{{url_for('createSpaceProject')}}">
    <h4>Create New</h4>
  </a>
</div>

{% endblock %}
