{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class = 'flash'>
		  {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
</div>

<section class='main flex'>
	<article class='one page-header centered'>
		<article class='row'>
			<h1 class='page-title'>{{ spaceType.name }}</h1>
		</article>
		{% if creator_state == True %}
		<a href="{{url_for('editSpaceType', space_type = spaceType.name)}}">
			<p>Edit this space</p>
		</a>
		<a href="{{url_for('deleteSpaceType', space_type = spaceType.name)}}">
			<p>Delete this space</p>
		</a>
		{% endif %}
		<article class='one'>
			<p class='page-body'>{{ spaceType.description }}</p>
		</article>
	</article>
</section>

<section class='main flex'>
  {% if spaces %}
    {% for space in spaces %}
    <a href="{{url_for('spaceProjectView', space_type = space.space_type,
                        space_id = space.id)}}" class='col one-third grid-item'>
			<img src="{{ space.image_url }}" class='item-image'>
      <h4 class='item-name'>{{ space.name }}</h4>
    </a>
    {% endfor %}
  {% else %}
	<article class='col two-thirds grid-item'>
		<img src="{{ url_for('static', filename='media/emptyland.jpg')}}" class='item-image'>
    <h4 class='item-name'>No projects are currently available.</h4>
	</article>
  {% endif %}
	{% if login_state == True %}
  <a href="{{url_for('createSpaceProject', space_type = spaceType.name)}}" class='col one-third grid-item'>
		<img src="{{ url_for('static', filename='media/createnew.jpg')}}" class='item-image'>
		<h4 class='item-name'>Create New</h4>
  </a>
	{% endif %}
</section>

{% endblock %}
