{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class = 'flash'>
		  {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
</div>

<form action="#" method = "POST">
  <div class="form-group">
		<div>
	    <label for="name">Type of Space:</label>
	    <input type ="text" maxlength="250" name="name" placeholder="{{ space.name }}">
		</div>

		<div>
			<label for="description">Description:</label>
    	<textarea  maxlength="1000" rows="3" name="description" placeholder="{{ space.description }}"></textarea>
		</div>

    <button id="submit" type="submit">
    <span></span>Create</button>
  </div>
</form>

{% endblock %}
