{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class = 'flash'>
		  {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
</div>

<form action="#" method = "POST" class='main'>
  <section class="form-group">
		<article class='left one flex'>
	    <label for="name" class='form-label one-third'>Type of Space:</label>
	    <input type ="text" maxlength="250" name="name" placeholder="{{ space.name }}" class='form-entry two-thirds'>
		</article>

		<article class='left one flex'>
			<label for="description" class='form-label one-third'>Description:</label>
    	<textarea  maxlength="1000" rows="3" name="description" placeholder="{{ space.description }}"class='form-entry two-thirds'></textarea>
		</article>

		<article class='left one flex'>
			<label for="image_url" class='form-label one-third'>Image URL:</label>
			<textarea  maxlength="500" rows="3" name="image_url" placeholder="{{ space.image_url }}" class='form-entry two-thirds'></textarea>
		</article>

    <button id="submit" type="submit" class='left one-third'>
    <span></span>Edit</button>
  </section>
</form>

{% endblock %}
