{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class = 'flash'>
		  {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
</div>

<h2> Are you sure you want to delete {{spaceType.name}}? </h2>

<form action="#" method = 'post'>
	<button type="submit">Delete</button>
</form>

<a href = '{{url_for('spaceTypeView', space_type=spaceType.name)}}'>
	<button>Cancel</button>
</a>

{% endblock %}
