{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class = 'flash'>
		  {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
</div>

<div>
	<h1>{{ spaceType.name }}</h1>
	{% if creator_state == True %}
	<a href="{{url_for('editSpaceType', space_type = spaceType.name)}}">
		<p>Edit this space</p>
	</a>
	<a href="{{url_for('deleteSpaceType', space_type = spaceType.name)}}">
		<p>Delete this space</p>
	</a>
	{% endif %}
	<p>{{ spaceType.description }}</p>
</div>

<div>
  {% if spaces %}
    {% for space in spaces %}
    <a href="{{url_for('spaceProjectView', space_type = space.space_type,
                        space_id = space.id)}}">
      <h4>{{ space.name }}</h4>
    </a>
    {% endfor %}
  {% else %}
    <h4>No projects are currently available. Create one below.</h4>
  {% endif %}
	{% if login_state == True %}
  <a href="{{url_for('createSpaceProject', space_type = spaceType.name)}}">
    <h4>Create New</h4>
  </a>
	{% endif %}
</div>

{% endblock %}
